# Ignore everything
*

# Except .gitignore, .md, .py, .cpp, .h, .hpp .R, .jl, files
!.gitignore
!*.md
!*.py
!*.cpp
!*.h
!*.hpp
!*.R
!*.jl

# Except LICENSE file
!LICENSE

# Even if they are in subdirectories
!*/