# Ignore everything
*

# Except .gitignore, .md, .py, .cpp, .h, .hpp .R, .jl, .vim, .vader files
!.gitignore
!*.md
!*.py
!*.cpp
!*.h
!*.hpp
!*.R
!*.jl
!*.vim
!*.vader

# Except LICENSE file
!LICENSE

# Even if they are in subdirectories
!*/